# @node-fetch/Core
* @bitinn @xxczaki @Richienb @gr2m @jimmywarting

# JS Files
*.js @tinovyatkin @xxczaki @Richienb @jimmywarting @xxczaki

# Docs
docs/* @NotMoni @xxczaki @Richienb

# Github
.github/* @NotMoni @tinovyatkin @jimmywarting

# TS Types
@types/* @tinovyatkin @jimmywarting @xxczaki