{
  "plugins": [
    "transform-runtime"
  ],
  "env": {
    "test": {
      "presets": [
        [ "env", { "loose": true, "targets": { "node": 0.12 } } ]
      ],
      "plugins": [
        "transform-runtime",
	"./build/babel-plugin"
      ]
    },
    "coverage": {
      "presets": [
        [ "env", { "loose": true, "targets": { "node": 0.12 } } ]
      ],
      "plugins": [
        [ "istanbul", { "exclude": [ "src/blob.js", "build", "test" ] } ],
	"./build/babel-plugin"
      ]
    },
    "rollup": {
      "presets": [
        [ "env", { "loose": true, "targets": { "node": 0.12 }, "modules": false } ]
      ]
    }
  }
}
