{
  "plugins": [
    "transform-runtime"
  ],
  "env": {
    "test": {
      "presets": [
        [ "es2015", { "loose": true } ]
      ]
    },
    "coverage": {
      "presets": [
        [ "es2015", { "loose": true } ]
      ],
      "plugins": [
        [ "istanbul", {
          "exclude": [
            "src/blob.js",
            "test"
          ]
        } ]
      ]
    },
    "rollup": {
      "presets": [
        [ "es2015", { "loose": true, "modules": false } ]
      ]
    }
  }
}
